<h2 mat-dialog-title>Item Details</h2>
<table class="table">
    <thead class="black white-text">
      <tr>
        <th scope="col">Material Number</th>
        <th scope="col">Short Text</th>
        <th scope="col">Unit Of Measure</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
        <th scope="col">Invoice Amount</th>
      </tr>
    </thead>
   <tbody> 
      <tr *ngFor= "let vcm of json">
        <td>{{+vcm.MATNR}}</td>
        <td>{{vcm.MAKTX}}</td>
        <td>{{vcm.MEINS}}</td>
        <td>{{vcm.MENGE}}</td>
        <td>{{vcm.WRBTR}}</td>
        <td>{{vcm.RMWWR}}</td>
      </tr> 
    </tbody> 
  </table>
<mat-dialog-actions >
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>