<h2 mat-dialog-title>Item Details</h2>
<table class="table">
    <thead class="black white-text">
      <tr>
      <!--  <th scope="col">Item Number of Purchasing Document</th> -->
        <th scope="col">Material No.</th>
        <th scope="col">Short Text</th>
        <th scope="col">Quantity</th> 
        <th scope="col">Base Unit of Measure</th> 
        <th scope="col">Net price</th>
        <th scope="col">Net Value</th>
      </tr>
    </thead>
   <tbody> 
      <tr *ngFor= "let quo of json">
      <!--  <td>{{quo.EBELP}}</td> -->
        <td>{{+quo.MATNR}}</td> 
        <td>{{quo.TXZ01}}</td>
        <td>{{quo.MENGE}}</td>
        <td>{{quo.MEINS}}</td>
        <td>{{quo.NETPR}}</td>
        <td>{{quo.NETWR}}</td>
      </tr> 
    </tbody> 
  </table>
<mat-dialog-actions >
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>