<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Navbar</a></li>
  <li><a href="#">Dashboard</a></li>
</ul>
<h1 class="heading">
   Welcome To Vendor Portal!
</h1> 
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/kaar1.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/kaar2.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/kaar3.jpg" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/kaar4.jpg" alt="Fourth slide">
</mdb-carousel-item>
<mdb-carousel-item>
    <img class="d-block w-100" src="assets/kaar5.jpg" alt="Fifth slide">
</mdb-carousel-item>
<mdb-carousel-item>
    <img class="d-block w-100" src="assets/kaar6.jpg" alt="Sixth slide">
</mdb-carousel-item>

</mdb-carousel>

<br>

<h1 class="aboutus">About us</h1>
<p class="text">
  Kaar Technologies is a global consulting firm focused at designing, delivering and deploying the finest ideas and SAP expertise 
  to empower companies in achieving new heights of excellence in today’s challenging business landscape.
</p>
<p class="text">
  Our combined thrust drawn from the business vision of our leadership team and assimilated SAP capability propels us to partner with our 
  clients in identifying and architecting their business agenda. As a CMMi level 3 company, Kaar believes in being a trusted advisor to clients 
  and fosters long-term working relationships by exceeding customer expectations.
</p>
<p class="text">
  Driven by the steadfast pursuit of excellence, Kaar Technologies exudes professionalism and proficiency in all areas of function. Every day we
   are inspired to impact businesses with original and imaginative approaches and help cultivate tomorrow’s breakthroughs.
</p>

<br>

<h1 class="aboutus">Vision & Mission</h1>
<h3 class="aboutus">Vision</h3>
     <p class="text">
      To transform our customer organizations by offering best-in-class SAP services and to become the best and largest 
      pure play SAP Services Provider in the World.
     </p>
<h3 class="aboutus">Mission</h3>
     <p class="text">
      To remain a socially responsible corporate entity, which will instill a sense of pride, joy and accomplishment, in every 
      facet of its interaction, to everyone associated, be it the employees, customers, vendors or stakeholders.
     </p>
    
<br>

<div class="card-group">
  <div class="card">
    <img src="assets/photo1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Cornerstone Of Excellence</h2>
      <p class="card-text">At Kaar Technologies, our unique cornerstones are attributed to the composite of strategic 
        thinking and technology solutions - deeply routed towards the uncompromising pursuit of excellence.</p>
      <h4>Techno - Functional Management</h4>
      <h4>Intrapreneurship Culture</h4>
      <h4>Peak Performers</h4>
    </div>
  </div>
  <div class="card">
    <img src="assets/photo2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Solutions</h2>
      <p class="card-text">Kaar offers customized business solutions driven with insights and 
        real-time access for empowering businesses.</p>
        <br>
        <br>
        <h4>Business Process Excellence</h4>
        <h4>Business Intelligence Excellence</h4>
        <h4>Technology Excellence</h4>
    </div>
  </div>
  <div class="card">
    <img src="assets/photo3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Awards</h2>
      <p class="card-text">ICICI’s Emerging India Awards (powered by CRISIL) focuses on recognising entrepreneurs “who are 
        striving to create world class products and services, setting the highest benchmarks and optimising opportunities across the globe”.</p>
      <h4>Won the ICICI Emerging India Award for Business Excellence in 2014</h4>
      <h4>Won Vodafone’s Ready for the Big League Contest</h4>
      <h4>SAP Quality Awards</h4>
    </div>
  </div>
</div>