.col-md-6{
    margin-left: 0px;
    margin-top: 10px;
}
.card-header{
    background-color:gray;
    color: white;
    text-align: center;
}
.mat-raised-button{
    background-color: #34b5b8;
    color: white;
    margin-left:20px;
}
.movebutton{
    margin-left: 60px;
}
.card-title{
    margin: -3px 0 -3px;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    width: 100%;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 13px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #223655;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: none;
  }
